
<div class="connect">
  <h1>Connect</h1>

  <form>
    <fieldset>
      <legend>Select Device</legend>

      <ol>
        <li>
          <select [(ngModel)]="selectedDevice">
            <option value="" *ngIf="!deviceList.length">Loading...</option>
            <option *ngFor="let device of deviceList">
              {{ device }}
            </option>
          </select>
        </li>
        <li>
          <label>
            <input type="checkbox" [(ngModel)]="keepAddresses" value="1" checked />
            Reuse node addresses from the last connection.
          </label>
        </li>
      </ol>

      <p>
        <button class="connect" (click)="connect()">Connect</button>
      </p>
    </fieldset>
  </form>
</div>