<section 
  class="program-controller"
  [class.changing-state]="isStoppingOrStarting()">

  <div class="controls">
    <button class="prev" title="Previous"><i class="fa fa-step-backward"></i></button>
    
    <!--Play -->
    <button 
      class="play" 
      title="Play"
      (click)="playSelected()"
      *ngIf="!isProgramRunning() && !isStoppingOrStarting()">
      <i class="fa fa-play"></i>
    </button>
    <!-- Stop -->
    <button 
      class="stop" 
      title="Stop"
      (click)="stopProgram()"
      *ngIf="isProgramRunning() && !isStoppingOrStarting()">
      <i class="fa fa-stop"></i>
    </button>
    <!-- In process of stoping or starting -->
    <button 
      class="starting-stoping" 
      *ngIf="isStoppingOrStarting()">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </button>
      
    <button class="next" title="Next"><i class="fa fa-step-forward"></i></button>
  </div>

  <ul class="programs">
    <li 
      *ngFor="let program of programList"
      (click)="playProgram(program)"
      [class.selected]="isSelected(program)">
      {{program.info.name}}</li>
  </ul>

  <div class="controls">
    <button class="shuffle" title="Random order"><i class="fa fa-random"></i></button>
    <button class="repeat" title="Play all"><i class="fa fa-retweet"></i></button>
  </div>
</section>