
.disco-floor {
  position: absolute;
  top: $header-height; left: 0; right: 0; bottom: 0;

  .row {
    display: flex;
    margin: 0 0 35px;
  }

  //
  // Floor
  //
  table {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 20px auto 0;
    background: #fff;

    td {
      background: rgb(0, 0, 0);
      border: 2px solid #666;
      width: 50px;
      height: 50px;
    }
  }

  //
  // Program Controls
  //
  .controller {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-content: stretch;
  }
  .controls {
    display: flex;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;

    button {
      flex-grow: 1;
      font-size: 30px;
      padding: 5px 0;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background: #333;
      }
    }
  }

  //
  // Program List
  //
  .programs {
    flex-grow: 1;
    margin: 10px;
    overflow: auto;
    font-size: 20px;
    color: #333;
    background: #888;
    overflow: auto;

    li {
      padding: 7px 10px;
      border-bottom: 1px solid #666;
      cursor: pointer;

      &:hover {
        color: #999;
        background: #333;
      }
    }
  }

  //
  // Status
  //
  .status {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 30px;
    line-height: 30px;
    background: #333;
    font-size: 18px;
  }
}