
form {
  width: 500px;
  margin: 0 auto;

  fieldset {
    border-radius: 20px;
    padding: 1.8em 20px 20px;
    margin: 15px 0;
    background: #aaa;
    color: #333;

    legend {
      position: relative;
      top: 1em;
      font-size: 20px;
      display: block;
      width: 100%;
    }
  }

  li,
  p {
    margin: 15px 0;
  }

  input[type=text],
  input[type=number] {
    border: none;
    padding: 5px;
  }
  input[type=checkbox] {
    font-size: 30px;
    margin: 3px;
  }

  button {
    color: #999;
    background: #333;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }
}

