#
# A linux launcher file.
# Be sure to update the path to the disco controller 
# from "~/DiscoDanceFloor/DiscoController" to whatever the real path is.
#

[Desktop Entry]
Encoding=UTF-8
Version=2.0
Name=Disco Controller
GenericName=Disco
Exec=electron ~/DiscoDanceFloor/DiscoController
Terminal=false                                 
Icon=~/DiscoDanceFloor/DiscoController/build/app/images/disco-icon-64x64.png
Type=Application                               
Categories=Application;AudioVideo;