
// https://fortawesome.github.io/Font-Awesome/icons/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2');
  font-weight: normal;
  font-style: normal;
}