body {
	font: normal 14px 'Helvetica Neue', Helvetica, Arial;
	background: #999;
}

#serial-setup {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 2;

	.content {
		width: 50%;
		overflow: auto;
		padding: 10px;
		border: 1px solid #797979;
		background: #dedede;
		box-shadow: 5px 5px 14px 0px #666;

		position: absolute;
		top: 20%;
		left: 20%;

		h1 {
			margin: -10px -10px 15px !important;
			padding: 5px;
			font-size: 16px;
			font-weight: bold;
			margin: 0 0 15px;
			text-align: center;
			color: #eee;
			background: #980068;
			text-shadow: 2px 2px 4px rgba(0,0,0, 0.6);
		}

		fieldset {
			padding: 10px;
		}
	}

	.connecting {
		display: none;
		p.status {
			text-align: center;
		}
	}

	&.connect {
		.selection {
			display: none;
		}
		.connecting {
			display: block;
		}
	}

	&.closed {
		display: none;
	}
}

#preview {

	.emulator {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 200px;
		padding: 2px 2px 42px 2px;

		.status {
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			height: 40px;
			background: #333;
			box-shadow: 0 -3px 14px 0px #666;
		}
		.dimensions {
			fieldset {
				border: none;
				padding: 0;
				text-align: center;

				legend {
					display: none;
				}
				ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						padding: 5px 3px;

						span {
							display: none;
						}
						input {
							width: 2em;
							font-size: 14px;
							text-align: center;
							border-radius: 5px;
						}
					}
				}
				.x-dimension label:after {
					padding-left: 5px;
					content: 'x';
					color: #ddd;
				}
			}
		}

		.frame-rate {
			display: none;
			text-align: center;
			line-height: 40px;
			color: #999;
		}
	}
	&.connected .emulator .status{
		.dimensions {
			display: none;
		}
		.frame-rate {
			display: block;
		}
	}
	.grid {
		box-sizing: border-box;
		border-collapse: collapse;
		margin: 0 auto;
		background: #fff;

		td {
			background: rgb(0, 0, 0);
			border: 2px solid #666;
			cursor: url(../../images/shoe_small.png) 10 15, auto;

			&:hover {
				opacity: 0.9;
			}
		}
	}
	.programs {
		position: fixed;
		top: 0;
		right: 0;
		width: 200px;
		height: 100%;
		background: #dedede;
		padding: 10px;
		box-shadow: -3px 0px 14px 0px #666;
		box-sizing: border-box;

		h1 {
			margin: 10px 0;
			font-size: 18px;
			text-align: center;
		}

		select {
			border: none;
			outline: none;
			width: 100%;
			font-size: 14px;
			font-family: inherit;
			margin: 3px 0;

			option {
				padding: 5px;

				&.selected:before {
					content: '>';
					margin: 0 3px 0 0;
				}
			}
		}
		.actions {
			position: absolute;
			bottom: 2.5em;
			left: 0; right: 0;
			text-align: center;
		}
	}
}