body {
  font: normal 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #999; }

#serial-setup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  #serial-setup .content {
    width: 50%;
    overflow: auto;
    padding: 10px;
    border: 1px solid #797979;
    background: #dedede;
    box-shadow: 5px 5px 14px 0px #666;
    position: absolute;
    top: 20%;
    left: 20%; }
    #serial-setup .content h1 {
      margin: -10px -10px 15px !important;
      padding: 5px;
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 15px;
      text-align: center;
      color: #eee;
      background: #980068;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); }
    #serial-setup .content fieldset {
      padding: 10px; }
  #serial-setup label {
    display: block;
    margin: 7px 0;
    font-size: 12px; }
  #serial-setup .connecting {
    display: none; }
    #serial-setup .connecting p.status {
      text-align: center; }
  #serial-setup.connect .selection {
    display: none; }
  #serial-setup.connect .connecting {
    display: block; }
  #serial-setup.closed {
    display: none; }

#preview .emulator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 200px;
  padding: 2px 2px 42px 2px; }
  #preview .emulator .status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #333;
    box-shadow: 0 -3px 14px 0px #666; }
  #preview .emulator .dimensions fieldset {
    border: none;
    padding: 0;
    text-align: center; }
    #preview .emulator .dimensions fieldset legend {
      display: none; }
    #preview .emulator .dimensions fieldset ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      #preview .emulator .dimensions fieldset ul li {
        display: inline-block;
        padding: 5px 3px; }
        #preview .emulator .dimensions fieldset ul li span {
          display: none; }
        #preview .emulator .dimensions fieldset ul li input {
          width: 2em;
          font-size: 14px;
          text-align: center;
          border-radius: 5px; }
    #preview .emulator .dimensions fieldset .x-dimension label:after {
      padding-left: 5px;
      content: 'x';
      color: #ddd; }
  #preview .emulator .frame-rate {
    display: none;
    text-align: center;
    line-height: 40px;
    color: #999; }
#preview.connected .emulator .status .dimensions {
  display: none; }
#preview.connected .emulator .status .frame-rate {
  display: block; }
#preview .grid {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0 auto;
  background: #fff; }
  #preview .grid td {
    background: black;
    border: 2px solid #666;
    color: #fff;
    text-align: center;
    vertical-align: middle; }
    #preview .grid td:hover {
      opacity: 0.9; }
#preview.interactive .grid td {
  cursor: url(../../images/shoe_small.png) 10 15, auto; }
#preview .programs {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: #dedede;
  padding: 10px;
  box-shadow: -3px 0px 14px 0px #666;
  box-sizing: border-box; }
  #preview .programs h1 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center; }
  #preview .programs h2 {
    font-size: 13px;
    margin: 5px 0; }
  #preview .programs ol {
    margin: 0 0 7px 0;
    padding: 0;
    list-style-type: none; }
  #preview .programs li {
    margin: 3px 0; }
    #preview .programs li label {
      padding: 7px 3px; }
  #preview .programs select {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    margin: 3px 0; }
    #preview .programs select option {
      padding: 5px 5px 5px 19px; }
      #preview .programs select option.selected {
        padding-left: 5px; }
        #preview .programs select option.selected:before {
          content: '\25B6';
          font-size: 10px;
          margin: 0 5px 0 0; }
      #preview .programs select option:first-child {
        padding-left: 5px; }
  #preview .programs .actions {
    margin: 7px 0;
    text-align: center; }

#stop {
  font-size: 14px; }

/*# sourceMappingURL=preview.css.map */
