
.connect {
  h1 {
    font-size: 24px;
    margin: 15px 0;
    text-align: center;
  }

  .emulation {
    h1 {
      font-style: italic;
      margin: 20px 0 7px
    }
    fieldset {
      margin: 7px 0;
    }
  }
}