
.disco-floor {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 35px;
  display: flex;

  //
  // Floor
  //
  .floor-area {
    height: 100%;
    flex-grow: 1;
    margin: auto;
    padding: 10px;
    display: flex;
    box-sizing: border-box;

    table {
      margin: auto;
      box-sizing: border-box;
      border-collapse: collapse;

      td {
        background: rgb(0, 0, 0);
        border: 2px solid #666;
        width: 50px;
        height: 50px;
        opacity: 0.6;

        &.empty {
          background: transparent;
        }
      }
    }
  }

}

//
// Status
//
.floor-status {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: 30px;
  line-height: 30px;
  background: #333;
  font-size: 18px;
}