
.main-nav {
  padding: 0 20px;
  background: #333;
  height: $header-height;

  a {
    color: #bbb;
    cursor: pointer;

    &:active {
      outline: none;
    }
  }

  li {
    font-size: 30px;
    margin: 0;
    float: left;

    a {
      display: block;
      min-width: 60px;
      text-align: center;
      line-height: $header-height;

      &:hover {
        background: #222;
      }
      &.router-link-active {
        background: #000;
        height: $header-height + 5px;
        line-height: 1.2em;
        border-radius: 0 0 10px 10px;
        box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.49);
        line-height: $header-height + 5px;
      }
    }
  }
}