
body {
  color: #bbb;
  background: #666;
  font: normal 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}