
.settings {
  h1 {
    font-size: 24px;
    margin: 15px 0;
    text-align: center;
  }

  .dimensions {
    input {
      width: 3em;
      text-align: center;
    }
  }

  .note {
    margin-left: 25px;
  }
}